/* [data-column-id='ID'].rdt_TableCol {
  font-weight: 500;
  width: 70px;
}
[data-column-class='commoncss'].rdt_TableCol {
  font-weight: 500;
  width: 70px;

} */
/* [data-column-id='director'].rdt_TableCol {
  background-color: orange;
} */
/* [data-column-id='expandedrow'].rdt_ExpanderRow {
  background-color: orange;
}

 */

























.hIWEKa {
  z-index: 0 !important;
}


.DropdownContainerwidth{
  width: 170px !important;
}




