.DropdownContainerwidth {
  width: 170px !important;
}

/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 80% !important;
  max-width: none !important;
  box-shadow : none !important;
  margin: auto !important;
} */