.DropdownContainerwidth {
  width: 170px !important;
}

/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 80% !important;
  max-width: none !important;
  box-shadow : none !important;
  margin: auto !important;
} */

.header-fixed.toolbar-fixed .wrapper{
  padding-top: 40px !important;
}


/* .container-fluid{
  padding-top: 20px !important;
} */



.max{
  max-height: "90%" !important;
}